:root {
  --twitter-blue:	rgb(29, 155, 240);
  --twitter-other-blue: #e6ecf0;
}


.App {
  display: flex;
  height: 100vh;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}